extends layout



block content
  div(class="container")
    div(class="header")
      h3(class="text-muted") Accretion Green
    div(id="signupSuccess", class="alert alert-success", style="display:none")
      p(id="signupSuccessText") Thanks for trying to register.
    div(id="statusMessage", class="alert alert-success", style="display:none")
      p(id="statusMessageText") status
    div(id="signupError", class="alert alert-info", style="display:none")
      p(id="signupErrorText") This alert probably means you're viewing a static webpage, not a dynamic one.  Or maybe we had a server error.

    div(id="mapContainer", style="width: 450px; height: 450px; position:relative; overflow: auto; padding: 1em; background: #000; margin: auto")

    div(class="jumbotron")
      p
        div(class="btn-group")
          button(id="color1" class="btn color-button")
          button(id="color2" class="btn color-button")
          button(id="color3" class="btn color-button")
          button(id="color4" class="btn color-button")
        a(class="btn btn-lg btn-success", data-toggle="modal", href="#signupModal") Register.
        button(id="status", type="button", class="btn btn-primary") Server Status
    div(class="footer")
      p
        Partially powered by SomaFM Groove Salad -- consider 
        a(href="http://www.somafm.com/support/") donating to SomaFM
        
    // Modal
    div(class="modal fade", id="signupModal", tabindex="-1", role="dialog", aria-labelledby="signupModal", aria-hidden="true")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
            h4(class="modal-title") Doesn't actually register you.
          div(class="modal-body")
            form(id="signupForm", role="form")
              input(type="hidden", id="theme", name="theme", value="flatly")
              div(class="form-group")
                label(for="name") Name
                input(type="text", class="form-control", id="name", name="name", placeholder="Your name")
              div(class="form-group")
                label(for="email") Email address
                input(type="email", class="form-control", id="email", name="email", placeholder="Your email address")
              div(class="form-group")
                label(for="previewAccess") Would you like to answer a yes/no question?
                select(class="form-control", name="previewAccess")
                  option Yes
                  option No
          div(class="modal-footer")
            button(id="signup", type="button", class="btn btn-primary") Press Me!
  script(src="../static/jquery/jquery.js")
  script(src="../static/bootstrap/js/bootstrap.min.js")

  // these are all "global" client variables
  script.
    // the following should agree with values in server.js
    var tileWidth  = 10;
    var tileHeight = 10;
  
    var emptyCellColor = '#B99F67'
    var userColorChoice = emptyCellColor;
    var c1 = '#78856D';
    var c2 = '#9A772C';
    var c3 = '#675B3F';
    var c4 = '#766457';

    // TODO make these client-side settable by user
    var lowerLeftX = 0;
    var lowerLeftY = 0;
    var topRightX = 9;
    var topRightY = 9;

    var timeOfLastServerUpdate = 1;  // *server* time -- what server tells us
    var timeOfLastClientUpdate = 0; // also *server* time -- do we need this?  TODO

  script.
    $(document).ready(function () {
          $('.color-button').css('border', '5px solid transparent')
          $('#color1').css('background-color', c1);
          $('#color2').css('background-color', c2);
          $('#color3').css('background-color', c3);
          $('#color4').css('background-color', c4);
          $('#color1').click(function() {
            userColorChoice = c1;
            $('.color-button').css('border', '5px solid transparent')
            $('#color1').css('border', 'solid 5px black');
          });
          $('#color2').click(function() {
            userColorChoice = c2;
            $('.color-button').css('border', '5px solid transparent')
            $('#color2').css('border', 'solid 5px black');
          });
          $('#color3').click(function() {
            userColorChoice = c3;
            $('.color-button').css('border', '5px solid transparent')
            $('#color3').css('border', 'solid 5px black');
          });
          $('#color4').click(function() {
            userColorChoice = c4;
            $('.color-button').css('border', '5px solid transparent')
            $('#color4').css('border', 'solid 5px black');
          });
    });

  // set map size per window
  script.
    $(document).ready(function(){
      var height = $(window).height();
      $('#mapContainer').css('height', height*0.8);
      $('#mapContainer').css('width', height*0.8);
    });

  // set up divs for map cells
  script.
    $(document).ready(function () {
      for (var y = topRightY; y >= lowerLeftY; y--) {
        for (var x = lowerLeftX; x <= topRightX; x++) {
          var xOffset = x*10 + '%';  // TODO not 10!!  use x range!
          var yOffset = y*10 + '%';  // but not working yet anyway
          var newDiv  = document.createElement('div');
          $(newDiv).attr('id', 'mx' + x + "my" + y);
          //$(newDiv).html(x + '_' + y);
          $(newDiv).attr('class', 'mapcell');
          //$(newDiv).attr('left', xOffset);  // TODO this is not working for abs positioning
          //$(newDiv).attr('bottom', yOffset);

          $('#mapContainer').append(newDiv);
        }
      }
    });


  script.
    $(document).ready(function() {
      $("#signup").click(function() {
        $.post( "/signup", $("#signupForm").serialize(),
                function(data) {
                  $("#signupSuccess").show();
                }
              )
              .error(function(xhr) {
                switch(xhr.status) {
                  case 409:
                    $("#signupDuplicate").show();
                    break;
                  default:
                    $("#signupError").show();
                }
              })
              .always(function() {
                $("#signupModal").modal('hide');
              });
      })
    })

  script.
    $(document).ready(function() {
      $(".mapcell").click(function() {
        var boxId = $(this).attr('id');
        var xPos = boxId.indexOf("mx");
        var yPos = boxId.indexOf("my");
        var cellX = boxId.substring(xPos+2, yPos);
        var cellY = boxId.substring(yPos+2);
        $.post( "/clicker", {"cellX" : cellX, "cellY" : cellY, "color" : userColorChoice},
                function(data) {
                });
      })
    })

  script.
    function getLastServerUpdateTime() {
        $.post( "/getupdatetime", 'get update time',
              function(data) {
                timeOfLastServerUpdate = data;
              });
    }

  script.
    function updateMap() {
        var updateTime = 0;
        $.post( "/getmapregion", {"lowerLeftX" : lowerLeftX, "lowerLeftY" : lowerLeftY, "topRightX" : topRightX, "topRightY" : topRightY},
                function(mapTileList) {
                  console.log('got this many maptiles: ' + mapTileList.length);

                  // mapTile.id looks like x0yo  or x10y20 ... coords of lower left corner

                  for (i = 0; i<mapTileList.length; i++) {
                    var mapTile = mapTileList[i];
                    // parse 2 integer values x,y id string that looks like this example: "x-70y30"
                    // those define lower left of tile in world coords
                    var tileX = parseInt(mapTile.id.substring(1,mapTile.id.indexOf("y")));
                    var tileY = parseInt(mapTile.id.substring(mapTile.id.indexOf("y")+1));
                    if (mapTile.updateTime > updateTime) { 
                      updateTime = mapTile.updateTime;
                    }
                    console.log('Parsing tile LL: ' + tileX + ',' + tileY + ', updateTime: ' + updateTime);
                    for (var x=0; x<tileWidth; x++) {
                      for (var y=0; y<tileHeight; y++) {
                        // only draw if visible on client
                        var cellX = tileX + x;
                        var cellY = tileY + y;
                        if ((cellX >= lowerLeftX) && (cellX <= topRightX) && (cellY >= lowerLeftX) && (cellY <= topRightY)) {
                          var color = mapTile.colors[x][y].color;
                          var mapCellId = "#mx" + cellX + "my" + cellY;
                          $(mapCellId).css({backgroundColor: color});                        
                        }
                      }
                    }
                  }              
                  
                  // server passes us the (server) time that the passed data was last updated
                  // not fully accurate but we'll use the latest over all tiles
                  console.log('after updating, updateTime was: ' + timeOfLastClientUpdate);
                  if (updateTime > timeOfLastClientUpdate) {
                    timeOfLastClientUpdate = updateTime;
                    console.log('...client update time reset to: ' + updateTime);
                  } 
              });
    }

  script.  
    function doUpdaterPoll(){
      getLastServerUpdateTime();
      if (timeOfLastServerUpdate > timeOfLastClientUpdate) {
        updateMap();
        timeOfLastClientUpdate = timeOfLastServerUpdate;
      } else {
      }
      setTimeout(doUpdaterPoll,1000);
    }

  // update map when document loads and anytime cell is clicked
  // and start polling
  script.
    $(document).ready(updateMap())
    getLastServerUpdateTime();
  script.
    $(document).ready(doUpdaterPoll())

  // retrieve status from server
  script.
    $(document).ready(function() {
      $("#status").click(function() {
        $.post("/status", 'Status Request',
              function(data) {
                  $("#statusMessage").html(data);
                  $("#statusMessage").show();
              })
      })
    });
