extends layout

var c1 = '#33BB55';
var c2 = '#888855';
var c3 = '#BB3355';

block content
  div(class="container")
    div(class="header")
      h3(class="text-muted") Accretion Green
    div(id="signupSuccess", class="alert alert-success", style="display:none")
      p(id="signupSuccessText") Thanks for entering information! We might keep your information!!!.
    div(id="statusMessage", class="alert alert-success", style="display:none")
      p(id="statusMessageText") status
    div(id="signupError", class="alert alert-info", style="display:none")
      p(id="signupErrorText") This alert probably means you're viewing a static webpage, not a dynamic one.  Or maybe we had a server error.

    div(id="mapContainer", style="width:10.5cm; background-color: #9966CC;")
      p(id="mapContainerText") ...
      div(id="mapContainerAnchor")

    div(class="jumbotron")
      p
        div(class="alert")
          button(id="userColorIndicator" class="btn")
        div(class="btn-group")
          button(id="color1" class="btn") L
          button(id="color2" class="btn") M
          button(id="color3" class="btn") R
        a(class="btn btn-lg btn-success", data-toggle="modal", href="#signupModal") Register.
        button(id="status", type="button", class="btn btn-primary") Update Status
        button(id="getmaptile", type="button", class="btn btn-primary") Read Map Tile
    div(class="footer")
      p
        | Partially powered by SomaFM Groove Salad -- consider 
        a(href="http://www.somafm.com/support/") donating to SomaFM
        
    // Modal
    div(class="modal fade", id="signupModal", tabindex="-1", role="dialog", aria-labelledby="signupModal", aria-hidden="true")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
            h4(class="modal-title") This is a modal dialog where you can type.
          div(class="modal-body")
            form(id="signupForm", role="form")
              input(type="hidden", id="theme", name="theme", value="flatly")
              div(class="form-group")
                label(for="name") Name
                input(type="text", class="form-control", id="name", name="name", placeholder="Your name")
              div(class="form-group")
                label(for="email") Email address
                input(type="email", class="form-control", id="email", name="email", placeholder="Your email address")
              div(class="form-group")
                label(for="monkey") Favorite monkey
                input(type="text", class="form-control", id="monkey", name="monkey", placeholder="Your favorite monkey")
              div(class="form-group")
                label(for="previewAccess") Would you like to answer a yes/no question?
                select(class="form-control", name="previewAccess")
                  option Yes
                  option No
          div(class="modal-footer")
            button(id="signup", type="button", class="btn btn-primary") Press Me!
  script(src="../static/jquery/jquery.js")
  script(src="../static/bootstrap/js/bootstrap.min.js")

  // the following should agree with values in server.js
  script.
    var tileWidth  = 10;
    var tileHeight = 10;
    var userColor = '#555555';
    var userColorChoice = '#444477';
    var c1 = '#33BB55';
    var c2 = '#888855';
    var c3 = '#BB3355';


  script.
    $(document).ready(function () {
          $('#color1').attr('style', 'background-color: ' + c1);
          $('#color2').attr('style', 'background-color: ' + c2);
          $('#color3').attr('style', 'background-color: ' + c3);
          $('#color1').click(function() {
            userColorChoice = c1;
            $('#userColorIndicator').attr('style', 'background-color: ' + userColorChoice);
          });
          $('#color2').click(function() {
            userColorChoice = c2;
            $('#userColorIndicator').attr('style', 'background-color: ' + userColorChoice);
          });
          $('#color3').click(function() {
            userColorChoice = c3;
            $('#userColorIndicator').css("background-color", userColorChoice);
          });
    });

  script.
    $(document).ready(function () {
          $('#userColorIndicator').attr('style', 'background-color: ' + userColorChoice);
    });

  script.
    $(document).ready(function () {
      for (var i = tileHeight-1; i >= 0; i--) {
        for (var j = 0; j < tileWidth; j++) {
          var newDiv  = document.createElement('div');
          $(newDiv).attr('id', 'mx' + j + "my" + i);
          $(newDiv).attr('class', 'mapcell');
          $(newDiv).text('Z'+i+j);
          $('#mapContainer').append(newDiv);
        }
      }
    });


  script.
    $(document).ready(function() {
      $("#signup").click(function() {
        $.post( "/signup", $("#signupForm").serialize(),
                function(data) {
                  $("#signupSuccess").show();
                }
              )
              .error(function(xhr) {
                switch(xhr.status) {
                  case 409:
                    $("#signupDuplicate").show();
                    break;
                  default:
                    $("#signupError").show();
                }
              })
              .always(function() {
                $("#signupModal").modal('hide');
              });
      })
    })

  script.
    $(document).ready(function() {
      $(".mapcell").click(function() {
        var boxId = $(this).attr('id');
        var xPos = boxId.indexOf("mx");
        var yPos = boxId.indexOf("my");
        var cellX = boxId.substring(xPos+2, yPos);
        var cellY = boxId.substring(yPos+2);
        console.log('/clicker' + "cellX: " + cellX + ", cellY: " + cellY + ", color: " + userColorChoice);
        $.post( "/clicker", {"cellX" : cellX, "cellY" : cellY, "color" : userColorChoice},
                function(data) {
                });
      })
    })

  script.
    function updateMap() {
        $.post( "/getmap", 'get map',
                function(data) {
                  $.each(data.Items, function(index, value){
                    var cell = value.cellnum.N;
                    var cellX = (cell-1) % tileWidth;
                    var cellY = Math.floor((cell-1)/tileHeight);
                    var count = value.ClickCount.N;
                    var mapCellId = "#mx" + cellX + "my" + cellY;
                    var color = value.Color.S;
                    $(mapCellId).html(count);
                    $(mapCellId).css({backgroundColor: color});
                  });
              });
      }


  script.  
    function doUpdaterPoll(){
      console.log("running updater...");
      updateMap();
      setTimeout(doUpdaterPoll,3000);
    }

  // update map when document loads and anytime button is clicked
  // and set to poll every 3 seconds
  script.
    $(document).ready(updateMap())
  script.
    $(document).ready(doUpdaterPoll())


  // read map tile
  script.
    $(document).ready(function() {
      $("#getmaptile").click(function() {
        console.log('777777client calling getmaptile');
        $.post("/getmaptile", 'Get Map Tile',
              function(data) {
              })
      })
    });


  // retrieve status from server
  script.
    $(document).ready(function() {
      $("#status").click(function() {
        $.post("/status", 'Status Request',
              function(data) {
                  $("#statusMessage").html(data);
                  $("#statusMessage").show();
              })
      })
    });
