.title {
	font-size: 3em;
	text-align: center;
	color: green;
	background-color: lightblue;
}
.credits {
	font-size: 1em;
	text-align: right;
	background: #22ee33;
}

.login {
	background: #22ee33;
	text-align: right;
}

#gondwanaland { 
	display: none;
}

.mapContainer {
	background-color: black;
	width: auto;
	height: auto;
	margin: 0 auto;
	min-height: 80%;
	text-align: center;
	position: relative;
}

.mapTable
{
    display:  table;
    width:auto;
    background-color:#222;
    border-spacing:0 px;
    margin: 0px;
   	padding: 0px;
   	border: 0px;
	display: none;
}

.mapRow
{
   display: table-row;
   width:auto;
   border-spacing: 0px;
   margin: 0px;
   padding: 0px;
   border: 0px;

}

.mapCell {
	float:left;
	position: absolute;
	height: 7%;
	width: 7%; 
	background-color: #b0c4de;
	line-height: 2em;
	text-align: center;
	vertical-align: middle;
	display: table-column;
	padding: 0px;
	border-radius: 5px;
}
.mapcell:hover{background-color: #984201; height: 8%; width: 8%}
