.mapContainer {
	width: 450px; 
	height: 450px; 
	position:relative; 
	overflow: auto; 
	padding: 1em; 
	background: #000; 
	margin: auto
}

.maptable {
	border-width: 3;
	border-color: #652712;
}

.mapcell {
	height: 10%;
	width: 10%;
	background-color: #b0c4de;
	line-height: 2em;
	text-align: center;
	vertical-align: middle;
	float: left;
	padding: 2px;
	border-radius: 5px
}

.dashboard-box {
	height: 4cm;
	width: 10cm;
	background-color: #40c4be;
}

.mapcell:hover{background-color: #984201;}